@model IEnumerable<AuthSystem.Models.GerarchiaDistintaComponente>

@{
    ViewData["Title"] = "Index";
}

<h1>Gerarchia</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DistintaComponenti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodiceComponentePadre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescrizioneComponentePadre)
            </th>
            <th><a asp-action="Create" class="btn btn-outline-success "><i class="far fa-plus-square"></i>Crea gerarchia</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DistintaComponenti.CodiceComponente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceComponentePadre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescrizioneComponentePadre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodiceComponentePadre "><i class="fa fa-marker fa-lg"></i></a> |

                <a asp-action="Delete" asp-route-id="@item.CodiceComponentePadre " class="text-danger ml-1"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
