@model IEnumerable<AuthSystem.Models.GerarchiaDistintaComponente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DistintaComponenti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodiceComponentePadre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DistintaComponenti.CodiceComponente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceComponentePadre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodiceComponente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodiceComponente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodiceComponente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
