@model IEnumerable<AuthSystem.Models.DistintaComponente>

@{
    ViewData["Title"] = "Index";
}

<h1>Distinta del componente</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodiceComponente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articoli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantita)
            </th>
            <th><a asp-action="Create" class="btn btn-outline-success "><i class="far fa-plus-square"></i>Distinta del componente</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceComponente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articoli.CodiceArticolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantita)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodiceComponente "><i class="fa fa-marker fa-lg"></i></a> |

                <a asp-action="Delete" asp-route-id="@item.CodiceComponente " class="text-danger ml-1"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
