@model AuthSystem.Models.OdlFaseVersamento

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare questo versamento?</h3>
<div>
    <h4>OdlFaseVersamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Articoli)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Articoli.CodiceArticolo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Odl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Odl.CodiceOdl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OdlFasi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OdlFasi.IdFaseOdl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MacchinaFisiche)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MacchinaFisiche.CodiceMacchinaFisica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AspNetUsers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AspNetUsers.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataInizio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataInizio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataFine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataFine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TempoLavoroNetto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TempoLavoroNetto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PezziBuoni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PezziBuoni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PezziScartati)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PezziScartati)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVersamento" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Torna alla lista</a>
    </form>
</div>
